body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("images/mine.png");

    background-color: #fff; 
    margin: 0; 
}
.background-container{
    background-image: url("./images/mine.png");
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;

}


header {
    background-color: #fff;
    color: #000; 
    padding: 20px 0;
}
img{
    height: 80px;
    
}
h1 {
    margin: 0;
}

.bingo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}
.card{
    border: 2px solid #000;
    padding: 10px;
    width:300px;
    height: 50px;
    margin: 15px;
    background-color: #fff;
    /* padding: 15px; */
    opacity: .8;
    border-radius: 20px;
    box-shadow: 10px 10px 20px 2px rgb(12, 12, 12);


}

.bingo-card {
    border: 2px solid #000;
    padding: 10px;
    width: 300px;
    height: 300px;
    margin: 10px;
    background-color: #ffffff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    opacity: .8;
    border-radius: 20px;
    box-shadow: 10px 10px 20px 2px rgb(12, 12, 12);


}

.logo {
    width: 50px;
    height: 50px;
    margin: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.logo-clicked {
    background-color: transparent;
    border: 3px solid yellow; 
    box-sizing: border-box; 
}


